<form action="/response" method="POST">
  <p>Titulo: </p>
  <input type="text" name="name" />

  <p>Conteudo: </p>
  <input type="text" name="firstimpression" />
  <button type="submit">Enviar Formulario</button>
</form>