<form action="/response" method="POST">
  <p>Name: </p>
  <input type="text" name="name" />

  <p>First Impression: </p>
  <input type="text" name="firstImpression" />

  <button type="submit">Enviar Formulario</button>
</form>